:root {
  --font-family:
    'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Arial, sans-serif;
}

/* ==========================================================================
  LIGHT THEME
========================================================================== */

:root,
:root[data-theme='light'] {
  --text: #100702;
  --background: #fdf3ee;
  --primary: #e86222;
  --secondary: #79f1b4;
  --accent: #57c5ee;
}

/* ==========================================================================
DARK THEME
========================================================================== */

:root[data-theme='dark'] {
  --text: #fdf2ed;
  --background: #120802;
  --primary: #de5617;
  --secondary: #0e864a;
  --accent: #117fa7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: var(--text);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
  transition: all 0.2s ease;
}
